.box {
    height: 150px;
    width: 150px;
    background-color: skyblue;
    transition: 3s;
    transition-timing-function: linear;
    /* transition-delay: 3s; */
}

.box:hover {
    height: 200px;
    width: 200px;
    margin: 100px 0px 0px 250px;
    background-color: blue;
    transform: rotate(360deg) skew(25deg,25deg);
}

.box1 {
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 100px 0px 0px 30px;
    animation-name: dabba;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box1:hover {
    background-color: orange;
    transition: 1s;
}

@keyframes dabba {
    50% {
        margin: 100px 0px 0px 1000px;
        transform: rotate(360deg);
        }

    100% { 
        margin: 100px 0px 0px 30px; 
    }
} 